# Ignore Results directory
Results/

# Ignore results_cleaned directory
results_cleaned/

# Ignore MATLAB directory
MATLAB/

# Ignore figures_v1 directory
figures_v1/


### Results shared upon request ###
